
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    
    <!-- Tutorials Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarTutorialsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tutorials
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarTutorialsDropdown" id="programmingLanguagesMenu">
            <!-- Menu items will be dynamically inserted here -->
        </div>
    </li>
    <!-- Tools Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarToolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools
        </a>
        <div class="dropdown-menu fade-down m-0">
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="RemoveSpaces">Text Manipulation - Remove Spaces</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="ChangeCase">Text Manipulation - Change Case</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="Base64Decoder">Encoding/Decoding - Base64 Decoder</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="Base64Encoder">Encoding/Decoding - Base64 Encoder</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="JsonBeautifier">Code Beautifiers - JSON Beautifier</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="JsBeautifier">Code Beautifiers - JS Beautifier</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="CssBeautifier">Code Beautifiers - CSS Beautifier</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="HtmlBeautifier">Code Beautifiers - HTML Beautifier</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="Obfuscator">Code Beautifiers - Code Obfuscator</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="RegexTester">Regex Tools - Regex Tester</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="RegexReplace">Regex Tools - Regex Replace</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="CurrencyConverter">Data Conversion - Currency Converter</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="UnitConverter">Data Conversion - Unit Converter</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="DateTimeConverter">Data Conversion - Date/Time Converter</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="JsonFormatter">Formatting Tools - JSON Formatter</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="SqlFormatter">Formatting Tools - SQL Formatter</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="HtmlFormatter">Formatting Tools - HTML Formatter</a>
            <a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="CssFormatter">Formatting Tools - CSS Formatter</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function populateMenu(data) {
            const programmingLanguagesMenu = document.getElementById('programmingLanguagesMenu');
            data.forEach(course => {
                const menuItem = document.createElement('a');
                menuItem.className = 'dropdown-item';
                menuItem.href = course.link;
                menuItem.textContent = course.name;
                programmingLanguagesMenu.appendChild(menuItem);
            });
        }

        const cachedData = localStorage.getItem('courses');
        if (cachedData) {
            const data = JSON.parse(cachedData);
            populateMenu(data);
        } else {
            fetch('/Tutorial/GetCourses')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    localStorage.setItem('courses', JSON.stringify(data));
                    populateMenu(data);
                })
                .catch(error => console.error('Error fetching courses:', error));
        }
    });
</script>